{% load static %}
<div id="homePage" style="display: block;">
    <div id="topBar">
        <div id="logoDiv" class="glass">
            <h1>PONG</h1>
        </div>
        <div id="ppPlayerDiv"  class="glass">
            <img src="pong/static/img/poda.png" id="ppPlayer">
			<div id="opponentsDataText">
				<div id="opponentsDataName">ngriveau</div>
				<div id="opponentsDataStats">Elo 30 (12/4)</div>
			</div>
        </div>
    </div>
        <!-- <img src="pong/static/img/poda.png" alt="" id="ppPlayer"> -->
        <!-- <div id="topBarName">
            <div id="topBarNameTop">Element en haut</div>
            <div id="topBarNameMidle">Top 15</div>
            <div id="topBarNameBottom"></div>
        </div> -->
        <!-- <div class="textTitleTopBar">
            PongGame
        </div> -->
        <!-- <div class="btnTopBar">
            <button class="btn-css" id="btn-DN">
                L/N
            </button>
            <button class="btn-css" id="btn-Logout">
                Logout
            </button>
        </div> -->
</div>
<script src="{% static 'js/homePage.js' %}"></script> 
