#endSiteBody {
	display: flex;
}

#chatSeachDiv {
	display: flex;
	flex-direction: column;
	width: 400px;
}

#chat {
	flex: 1;
	margin: 0px 20px 20px 20px;
	
  


	border-radius: 20px;	
}

#chatTitle {
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: solid var(--background-color);
}

#selectChatUser {
	border-radius: 15px;
	margin: 20px;
	flex:1;
	
  


	height: 80px;
}

