#logoDiv {
	background: rgba(71, 71, 71, 0.24);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);border: 1px solid rgba(71, 71, 71, 0.3);
	display: flex;
	flex: 1;
	border-radius: 20px;
	justify-content: center;
	align-items: center; 
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 2em;
}

#topBar {
	display: flex;
	height: 80px;
	margin: 20px;
}

#ppPlayerDiv {
	display: flex;
	padding: 10px;
	border-radius: 20px;
	
background: rgba(71, 71, 71, 0.24);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);border: 1px solid rgba(71, 71, 71, 0.3);


	margin: 0px 0px 0px 20px;

}

#ppPlayer {
	border-radius: 50%;
	border: solid 3px #232323 ;
}