#logoDiv {
	  	display: flex;
	flex: 1;
	   border-radius: 12px;
	justify-content: center;
	align-items: center; 
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 2em;
}

#topBar {
	display: flex;
	height: 80px;
	margin: 20px;
}

#ppPlayerDiv {
	display: flex;
	padding: 10px;
	   border-radius: 12px;
	
  

	margin: 0px 0px 0px 20px;

}

#ppPlayer {
	border-radius: 50%;
	border: solid 3px #232323 ;
}