@font-face {
    font-family: '1';
    src: url("../font/FuturaCyrillicHeavy.ttf") format('truetype');
}

@font-face {
    font-family: '2';
    src: url("../font/BurbankBigRegularBlack.otf") format('truetype');
}

@font-face {
    font-family: '3';
    src: url("../font/Stara-Bold.otf") format('truetype');
}

@font-face {
    font-family: '4';
    src: url("../font/Valorant\ Font.ttf") format('truetype');
}

@font-face {
    font-family: '5';
    src: url("../font/minecraft-enchantment.ttf") format('truetype');
}




body {
	/* font-size: 1em; */
	font-family: "2";
	--primary-color: #66E4EB;
	--seconde-color: #EC83E5;
	--third-color: #CBFA0A;
	--primary-color: #F3FBFC; 
	 --seconde-color: #adf133;
	--third-color: #F3FBFC;
	--background-color: #F3FBFC;
	--background-color: #1B1B1B;
	background-color: var(--background-color);
	background-size: cover;
    /* position: fixed; */
    width: 100%;
    height: 100%;
    color : #d3d3d3;

}

hr {
	margin: 2px 0px 2px 0px;
}

.glass{
    background: linear-gradient(135deg, rgba(30, 30, 30, 0.85), rgba(30, 30, 30, 0.85));
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#loginPage {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.primaryColor {
	background-color: var(--primary-color);
}

.secondaryColor {
	background-color: var(--seconde-color);
}

.divSignInUp42 {
	display: flex;
	flex-direction: column;
}

.divSignInUp42-flex {
	position: fixed;
	border-radius: 25px; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}
.form-containerGreen {
	margin: 20px 10px 10px 20px;
	width: 300px; 
	height: 300px; 
	padding: 20px;
	 border-radius: 12px; 
}

.form-containerPink {
	margin: 20px 20px 20px 10px;
	width: 300px; 
	box-sizing: border-box;
	padding: 20px;
	border-radius: 16px; 
}



.divBtnLog42 {

	margin: 20px 10px 20px 20px;
	flex: 1;
	height:min-content;
	padding: 20px;
	border-radius: 12px; 
}

#btnLog42 {
	height: 100%;
	justify-content: center;
	align-items: center;
}