#bodySite {
	display: flex;
}

#pongGame {
	width: fit-content;
	border-radius: 12px;
	height: 630px;
	margin: 20px 0px 20px 0px;
	padding: 15px;
	display: flex;
	flex: 1;
	border-radius: 12px;
	justify-content: center;
	align-items: center; 
}

#pongCanvas{
	border-radius: 12px;
}

#opponentsData {
	border-radius: 12px;
	height: fit-content;
	display: flex;
	margin: 20px;
	height: 80px;
	padding: 10px;
	align-items: center;
}

#opponentsDataPp {
	display: flex;
	height: 60px;
	border-radius: 50%;
	border: solid 3px #232323 ;
}

#opponentsDataText {
	display:flex;
	flex-direction: column;
	padding-left: 15px;
}

#opponentsDataHistory {
	display:flex;
	flex-direction: column;
}

#opponentsHistory{
	display: flex;
	flex-direction: column;
	flex:1 ;
	border-radius: 12px;
	margin: 0px 20px 20px 20px;
}

.opponentsHistoryTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.opponentsHistoryWin {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.opponentsHistoryLoose{
	display: flex;
	flex-direction: column;
	align-items: center;	
}








#meDataHistory {
	margin-top: 20px;
	display:flex;
	flex-direction: column;
}

#meHistory{
	display: flex;
	flex-direction: column;
	flex:1 ;
	 border-radius: 12px;
	margin: 0px 20px 20px 20px;
	
  


	/* background-color: var(--primary-color);; */
}

.meHistoryTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: solid;
}

.meHistoryWin {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: solid;
}

.meHistoryLoose{
	padding: 0px 10px 0px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;	
	border-bottom: solid;
}