#btnSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 15px;
    height: 40px;
    
background: rgba(71, 71, 71, 0.24);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);border: 1px solid rgba(71, 71, 71, 0.3);



}
.modal-header {
    margin: 10px;
}

.modal-body{
    display: flex;
}

#leftModalSearch{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 16px;
}


#searchFriends {
    height: 30px;
    padding:0px;
    margin-bottom: 16px;
    /* width: 200px; */
}

#usernameFriends {
    display: flex;
    flex-direction: column;
}
#usernameFriendsDisplay {
    flex: 1;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 1000px;
}



#modalPicNameStatus {
    height: 50px;
    flex: 1;
    margin-left: 16px;
    display: flex;
}

#modalPic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#modalUsername {
    margin: 0px 5px 0px 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalStatus{ 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    color: #bb0000;
    color: #00bb00;
}

@media (max-width: 450px) {
    #modalStatus{ 
        margin-left: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #bb0000;
        color: #00bb00;
    }
}