<div id="endSiteBody">
	<div id="classement">
		<div id="classementTitle"><h4>CLASSEMENT</h4></div>
		<div id="classementUser"><p>1.ngriveau (123)</p></div>
		<div id="classementUser"><p>2.tico (110)</p></div>
		<div id="classementUser"><p>3.titou (100)</p></div>
		<div id="classementUser"><p>4.tchevrie (33)</p></div>
		<div id="classementUser"><p>5.ngriveau (3)</p></div>
	</div>
	<div id="chatSeachDiv">
		<div id="btnSearch">
			Search player
		</div>
		<div id="chat">
			<div id="chatTitle">
				<h4>CHAT WITH [...]</h4>
			</div>
		</div>
	</div>
	<div id="tournament">
		TOURNAMENT
	</div>
	<div id="friendAndLogoutBtn">
		<div id="friends"">
			<div id="friendsTitle">
				FRIENDS
			</div>
			<div id="friendsUser"><p>● tico</p></div>
			<div id="friendsUser"><p>● tchevrie</p></div>
		</div>
		<div id="btn-Logout">Logout </div>
	</div>
</div>