{% load static %}
<div id="friends" style="display: none;">
	<input id="searchFriends" type="text">
	<div id="usernameFriends"></div>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
		Launch demo modal
	  </button>
</div>
<div style="color: whitesmoke;">
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<img src="" alt="" id="ppPlayerModal" style="width: 50px;">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="textModal">
					...
				</div>
				<div class="modal-footer">
					<button type="button" id="buttonAddFriend" class="btn btn-GentleGreen">AddFriend</button>
					<button type="button" id="buttonBlock" class="btn btn-GentlePink">Block</button>
					<button type="button" class="btn btn-red" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
</div>
	Pong
<script src="{% static 'js/friends.js' %}"></script>