{% load static %}
<div id="loginPage" style="display: none;">
    <div class="divSignInUp42-flex">
        <div class="divSignInUp42">
            <div class="form-containerGreen ">
                <form id="signInForm">
                    <h3 style="text-align: center">Login</h3>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control" id="signInUsername">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="signInPassword">
                    </div>
                    <button type="submit" class="btn-css btn-GentleGreen">Submit</button>
                </form>
            </div>
            <div class="btnLog42">
                <button id="btnLog42" type="submit" class="btn-css btn-Log42">Sign with 42</button>
            </div>
        </div>
        <div class="form-containerPink">
            <form id="signUpForm">
                <h3 style="text-align: center">Sign in</h3>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control" id="signUpUsername">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="signUpEmail">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="signUpPassword">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm password</label>
                    <input type="password" class="form-control" id="signUpConfirmPassword">
                </div>
                <button type="submit" class="btn-css btn-GentlePink">Submit</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/auth/loginPage.js' %}"></script>  
<script src="{% static 'js/auth/signUp.js' %}"></script>  
<script src="{% static 'js/auth/signIn.js' %}"></script>  

