<div id="loginPage" style="display: none;">
    <div class="divSignInUp42-flex">
        <div class="divSignInUp42">
            <div class="form-containerGreen ">
                <form>
                    <h3 style="text-align: center">Login</h3>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn-css btn-GentleGreen">Submit</button>
                </form>
            </div>
            <div class="btnLog42">
                <button id="btnLog42" type="submit" class="btn-css btn-Log42">Sign with 42</button>
            </div>
        </div>
        <div class="form-containerPink ">
            <form>
                <h3 style="text-align: center">Sign in</h3>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confime Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn-css btn-GentlePink">Submit</button>
            </form>
        </div>
    </div>
</div>