{% load static %}
<div id="bodySite">
	<div id="opponentsDataHistory">
		<div id="opponentsData" class="glass">
			<img src="pong/static/img/poda.png" id="opponentsDataPp">
			<div id="opponentsDataText">
				<div id="opponentsDataName">ngriveau #15</div>
				<div id="opponentsDataStats">Elo 30 (12/4)</div>
			</div>
		</div>
		<div id="opponentsData" class="glass">
			<div id="opponentsDataText">
				<div id="opponentsDataName">VS</div>
			</div>
		</div>
		<div id="opponentsData" class="glass">
			<img src="pong/static/img/poda.png" id="opponentsDataPp">
			<div id="opponentsDataText">
				<div id="opponentsDataName">ngriveau #15</div>
				<div id="opponentsDataStats">Elo 30 (12/4)</div>
			</div>
		</div>
		<!-- <div id="opponentsHistory" class="glass">
			<div class="opponentsHistoryTitle" style=" border-radius: 12px 15px 0px 0px;">
				<div>ngriveau history</div>
			</div>
			<hr>
			<div class="opponentsHistoryLoose">
				<div>ngriveau vs titou</div>
				<div>0-3</div>
			</div>
			<hr>
			<div class="opponentsHistoryWin">
				<div>ngriveau vs titou</div>
				<div>3-0</div>
			</div>
			<hr>
			<div class="opponentsHistoryWin">
				<div>ngriveau vs titou</div>
				<div>3-0</div>
			</div>
			<hr>
			<div class="opponentsHistoryWin">
				<div>ngriveau vs titou</div>
				<div>3-0</div>
			</div>
			<hr>
			<div class="opponentsHistoryLoose">
				<div>ngriveau vs titou</div>
				<div>0-3</div>
			</div>
			<hr>
			<div class="opponentsHistoryWin">
				<div>ngriveau vs titou</div>
				<div>0-3</div>
			</div>
			<hr>
			<div id="opponentsHistoryWinEnd"></div>
		</div> -->
	</div>
	

	<div id="pongGame" style="display: block;" class="glass">
		<canvas id="pongCanvas" width="800" height="600"></canvas>
	</div>
	<div id="meDataHistory">
		<div id="meHistory" class="glass">
			<div class="meHistoryTitle" style=" border-radius: 12px 15px 0px 0px;">
				<div>my history</div>
			</div>
			<hr>
			<div class="meHistoryLoose">
				<div>me vs ngriveau</div>
				<div>0-3</div>
			</div>
			<hr>
			<div class="meHistoryWin">
				<div>me vs titou</div>
				<div>3-0</div>
			</div>
			<hr>
			<div class="meHistoryWin">
				<div>me vs titou</div>
				<div>3-0</div>
			</div>
			<hr>
			<div class="meHistoryWin">
				<div>me vs titou</div>
				<div>3-0</div>
			</div>
			<hr>
			<div class="meHistoryLoose">
				<div>me vs titou</div>
				<div>0-3</div>
			</div>
			<hr>
			<div class="meHistoryWin">
				<div>me vs titou</div>
				<div>0-3</div>
			</div>
			<div id="meHistoryWinEnd"></div>
		</div>
	</div>
</div>
<script src="{% static 'js/pong.js' %}"></script>
