{% load static %}
<!-- <div id="friends" style="display: none;"> -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> -->
        <!-- Launch demo modal -->
        <!-- </button> -->
        <!-- </div> -->
        <div style="color: whitesmoke;">
            <div class="modal fade class" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl glass">
                    <div class="modal-content" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="modal-header" >
                            <h3>Search</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="textModal">
                            <div id="leftModalSearch">
                                <input id="searchFriends" type="text">
                                <div id="usernameFriends">
                                    <div id="usernameFriendsDisplay"></div>
                                </div>
                            </div>
                            <div class="vr"></div>
                            <div style="height: 100%; margin-bottom: 60px;">

                                <div id="modalPicNameStatus">
                                    <img src="pong/static/img/poda.png" id="modalPic">
                                    <h3 id="modalUsername">ngriveau</h3>
                                    <p id="modalStatus">● Online</p>
                                </div>
                                <div width="400" height="400" style="display: flex;">

                                    <canvas id="pointChart" width="400" height="400"></canvas>
                                    <canvas id="eloChart" width="400" height="400"></canvas>
                                </div>
                            </div>
                                
                            
                            
                            
                            
                            
                        </div>
                        
                        
                        
                        
                        
                        
                        <div class="modal-footer">
                            <button type="button" id="buttonAddFriend" class="btn btn-GentleGreen">AddFriend</button>
                            <button type="button" id="buttonBlock" class="btn btn-GentlePink">Block</button>
                            <button type="button" class="btn btn-red" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="{% static 'js/search.js' %}"></script>