#bodySite {
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-device-width: 941px){

	#pongGame {
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc(100vw - 40px);
		aspect-ratio: 4 / 3;
	}
}
@media only screen and (min-device-width: 942px){
	#pongGame {
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 210px);
		aspect-ratio: 4 / 3;
	}
}

#opponentDiv {
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	height: fit-content;
	display: flex;
	margin: 20px;
	padding: 10px;
	align-items: center;
}


#opponentsData {
	height: fit-content;
	display: flex;
	align-items: center;
}

#opponentsDataPp {
	display: flex;
	height: 60px;
	border-radius: 50%;
	border: solid 3px #232323 ;
}

#opponentsDataText {
	display:flex;
	flex-direction: column;
	padding-left: 15px;
}

#opponentsDataHistory {
	display:flex;
	flex-direction: column;
}

#opponentsHistory{
	display: flex;
	flex-direction: column;
	flex:1 ;
	border-radius: 12px;
	margin: 0px 20px 20px 20px;
}

.opponentsHistoryTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.opponentsHistoryWin {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.opponentsHistoryLoose{
	display: flex;
	flex-direction: column;
	align-items: center;	
}








#meDataHistory {
	margin-top: 20px;
	display:flex;
	flex-direction: column;
}

#meHistory{
	display: flex;
	flex-direction: column;
	flex:1 ;
	 border-radius: 12px;
	margin: 0px 20px 20px 20px;
	
  


	/* background-color: var(--primary-color);; */
}

.meHistoryTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meHistoryWin {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meHistoryLoose{
	padding: 0px 10px 0px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;	
}