#btnSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
     border-radius: 12px;
    height: 40px;

}
#leftModalSearch{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 16px;
}

#bodySearch {
    display: flex;
}


#searchFriends {
    height: 30px;
    padding:0px;
    margin-bottom: 16px;
    /* width: 200px; */
}

#searchDiv {
    min-width: 500px;
    width: auto;
    margin: 20px;
    border-radius: 12px;
}

#titleSearchDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#usernameFriends {
    display: flex;
    flex-direction: column;
}
#usernameFriendsDisplay {
    flex: 1;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 1000px;
}



#modalPicNameStatus {
    height: 50px;
    flex: 1;
    margin-left: 16px;
    display: flex;
}

#modalPic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#modalUsername {
    margin: 0px 5px 0px 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalStatus{ 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    color: #bb0000;
    color: #00bb00;
}

@media (max-width: 450px) {
    #modalStatus{ 
        margin-left: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #bb0000;
        color: #00bb00;
    }
}