{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
</style>

<div id="pongChoise" style="display: flex; margin: 20px; padding: 10px;" >
    <button id="pongOnline" class="btn btn-primary btn-lg btn-custom-black"> en ligne</button>
    <button id="pongLocal" class="btn btn-primary btn-lg btn-custom-black"> lan</button>
</div>
<div id="pongCanvasDiv" style="text-align: center; display: none;">
    <canvas id="pongCanvas" width="800" height="600" style="border: 1px solid #aaaaaa;"></canvas>
</div>
</body>
</html>
